<% if !session[:identity] %>	
<h3>
	Hello <strong>Stranger</strong>, please <a href=/login>login</a> or <a href=/register>register</a>
</h3>
<% else %>	
<h3>
	Hello <strong><%= username %></strong>, are you ready to <a href=/secure/post>write</a> your first post?
</h3>	
<% end %>	

<div class="container-fluid">
	<h3>Latest posts:</h3>
	<br>

	<% @posts.each do |post| %>

		<div class="row">
			<div class="col-md-8">
				<div class="bg-success">
					<%= post.post %>
				</div>	
			</div>	
		</div>	

		<div class="row">
			<div class="col-md-2">		
				<div class="text-left">
					wrote <strong><%= post.name %></strong>					
				</div>			
			</div>
			
			<div class="col-md-6">
				<div class="text-right">
					at <%= post.created_at.to_s[0..9]%> in <%= post.created_at.to_s[11..15]%>	
				</div>
			</div>	
		</div>
	<br>
	<% end %>	
</div>
